@import url("https://fonts.googleapis.com/css?family=Baloo+Paaji|Open+Sans:300,300i,400,400i,600,600i,700,700i");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  font-family: "Open Sans", "Ubuntu";
}

:root {
  --primary: #9e00ff;
  --dark: #333333;
  --dark-light: #787878;
  --light-gray: #f5f5f5;
  --white: #ffffff;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.no-drag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: currentColor;
}

body {
  background-color: var(--white);
  color: var(--dark);
  overflow-x: hidden;
}

main {
  margin-top: 3.5rem;
}

.bg-mesh {
  background-color: rgb(255, 255, 255);
  background-image: radial-gradient(
      at 89% 8%,
      rgb(253, 230, 138) 0,
      transparent 49%
    ),
    radial-gradient(at 11% 8%, rgb(221, 214, 254) 0, transparent 49%),
    radial-gradient(at 20% 14%, rgb(253, 186, 116) 0, transparent 49%),
    radial-gradient(at 80% 14%, rgb(186, 230, 253) 0, transparent 67%);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--light-gray);
}

::-webkit-scrollbar-thumb {
  background: var(--dark-light);
  cursor: default;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark);
}

.scr::-webkit-scrollbar {
  width: 3px;
}

.testimonials::before {
  z-index: 9;
  content: "";
  position: absolute;
  top: -5px;
  height: 90px;
  width: 100%;
  background: rgb(245, 245, 245);
  background: -moz-linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(245, 245, 245, 0) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(245, 245, 245, 0) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(245, 245, 245, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f5f5f5",endColorstr="#f5f5f5",GradientType=1);
}
.testimonials::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 90px;
  width: 100%;
  background: rgb(245, 245, 245);
  background: -moz-linear-gradient(
    0deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(245, 245, 245, 0) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(245, 245, 245, 0) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(245, 245, 245, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f5f5f5",endColorstr="#f5f5f5",GradientType=1);
}

.testimonials-scroller {
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  to {
    transform: translateY(calc(-50% - 7.5px));
  }
}
